<div>
    <h2 id="page-heading">
        <span jhiTranslate="apicockpitApp.apiPublisherProfile.home.title">Api Publisher Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-api-publisher-profile" [routerLink]="['/api-publisher-profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="apicockpitApp.apiPublisherProfile.home.createLabel">
            Create new Api Publisher Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="apiPublisherProfiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="apicockpitApp.apiPublisherProfile.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="apicockpitApp.apiPublisherProfile.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apiBaseUrl"><span jhiTranslate="apicockpitApp.apiPublisherProfile.apiBaseUrl">Api Base Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apiDocUrl"><span jhiTranslate="apicockpitApp.apiPublisherProfile.apiDocUrl">Api Doc Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="apicockpitApp.apiPublisherProfile.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apiPublisherProfile of apiPublisherProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/api-publisher-profile', apiPublisherProfile.id, 'view' ]">{{apiPublisherProfile.id}}</a></td>
                <td>{{apiPublisherProfile.name}}</td>
                <td>{{apiPublisherProfile.active}}</td>
                <td>{{apiPublisherProfile.apiBaseUrl}}</td>
                <td>{{apiPublisherProfile.apiDocUrl}}</td>
                <td>{{apiPublisherProfile.dateCreated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/api-publisher-profile', apiPublisherProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/api-publisher-profile', apiPublisherProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'api-publisher-profile/'+ apiPublisherProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="apiPublisherProfiles && apiPublisherProfiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
