<div class="row" [ngSwitch]="isAuthenticated()">
    <div class="col-md-12" *ngSwitchCase="false">
        <div class="main-slider-caption container">
            <div>
                <h1 jhiTranslate="home.title">Open Banking Nigeria API Sandbox</h1>
                <p jhiTranslate="home.subtitle">Working together to build the next generation of API standards for the
                    Nigerian banking and financial
                    industry. Driving innovation and choice for customers, businesses, fintech companies and banks.</p>
                <div class="header-button">
                    <span class="button" routerLink="register" tabindex="0" jhiTranslate="home.createAccount">Create a free Account</span>
                </div>
            </div>

        </div>

    </div>
</div>
