
<div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " routerLink="/api-project">
        <div class="box-part text-center itemBox">
            <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
            <div >
                <h4>Publish</h4>
            </div>
            <div class="text">
                <span>Publish and manage APIs, create apps, and manage your deployments.</span>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center itemBox">
            <i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i>
            <div>
                <h4>Discover</h4>
            </div>
            <div class="text">
                <span>Discover what Open Banking APIs to use in your apps and projects.</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"  routerLink="/profile">
        <div class="box-part text-center itemBox">
            <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
            <div>
                <h4>Administration</h4>
            </div>
            <div class="text">
                <span>Configure your profile and manage users.</span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" routerLink="/dashboard">
        <div class="box-part text-center itemBox">
            <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
            <div >
                <h4>Dash Board</h4>
            </div>
            <div class="text">
                <span>View stats for your apps and projects.</span>
            </div>
        </div>
    </div>

</div>
