<div class="content">
        <div class="row">
            <div class="col-12">
                <h3>Welcome back! Here are some of the resources you might need</h3>
            </div>
        </div><br/>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-5 col-md-6">
                    <div class="numbers">
                      <p class="card-category text-left">Publish</p>
                      <p class="card-subtitle text-left">Publish and manage APIS, create apps, and manage your deployments</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-body ">
                      <div class="row">
                          <div class="col-5 col-md-4">
                              <div class="icon-big text-center icon-warning">
                                  <i class="nc-icon nc-globe text-warning"></i>
                              </div>
                          </div>
                          <div class="col-5 col-md-6">
                              <div class="numbers">
                                  <p class="card-category text-left">Develop</p>
                                  <p class="card-subtitle text-left">Discover APIs to use in your apps</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-body ">
                      <div class="row">
                          <div class="col-5 col-md-4">
                              <div class="icon-big text-center icon-warning">
                                  <i class="nc-icon nc-globe text-warning"></i>
                              </div>
                          </div>
                          <div class="col-5 col-md-6">
                              <div class="numbers">
                                  <p class="card-category text-left">Administrator</p>
                                  <p class="card-subtitle text-left">Configure your portal and manager users</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-body ">
                      <div class="row">
                          <div class="col-5 col-md-4">
                              <div class="icon-big text-center icon-warning">
                                  <i class="nc-icon nc-globe text-warning"></i>
                              </div>
                          </div>
                          <div class="col-5 col-md-6">
                              <div class="numbers">
                                  <p class="card-category text-left">Monitor</p>
                                  <p class="card-subtitle text-left">View real-time analytics for your APIs and app</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
