<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-api-project-auth-config-heading" jhiTranslate="apicockpitApp.apiProjectAuthConfig.home.createOrEditLabel">Create or edit a Api Project Auth Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!apiProjectAuthConfig.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="apiProjectAuthConfig.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="apicockpitApp.apiProjectAuthConfig.clientId" for="field_clientId">Client Id</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                        [(ngModel)]="apiProjectAuthConfig.clientId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="apicockpitApp.apiProjectAuthConfig.clientSecret" for="field_clientSecret">Client Secret</label>
                    <input type="text" class="form-control" name="clientSecret" id="field_clientSecret"
                        [(ngModel)]="apiProjectAuthConfig.clientSecret" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="apicockpitApp.apiProjectAuthConfig.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="apiProjectAuthConfig.active" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="apicockpitApp.apiProjectAuthConfig.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="dateCreated"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateCreated?.dirty && editForm.controls.dateCreated?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateCreated?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateCreated?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
