<div>
    <h2 id="page-heading">
        <span jhiTranslate="apicockpitApp.apiProjectAuthConfig.home.title">Api Project Auth Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-api-project-auth-config" [routerLink]="['/api-project-auth-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="apicockpitApp.apiProjectAuthConfig.home.createLabel">
            Create new Api Project Auth Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="apiProjectAuthConfigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span jhiTranslate="apicockpitApp.apiProjectAuthConfig.clientId">Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientSecret"><span jhiTranslate="apicockpitApp.apiProjectAuthConfig.clientSecret">Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="apicockpitApp.apiProjectAuthConfig.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="apicockpitApp.apiProjectAuthConfig.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apiProjectAuthConfig of apiProjectAuthConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/api-project-auth-config', apiProjectAuthConfig.id, 'view' ]">{{apiProjectAuthConfig.id}}</a></td>
                <td>{{apiProjectAuthConfig.clientId}}</td>
                <td>{{apiProjectAuthConfig.clientSecret}}</td>
                <td>{{apiProjectAuthConfig.active}}</td>
                <td>{{apiProjectAuthConfig.dateCreated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/api-project-auth-config', apiProjectAuthConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/api-project-auth-config', apiProjectAuthConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'api-project-auth-config/'+ apiProjectAuthConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="apiProjectAuthConfigs && apiProjectAuthConfigs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
