<div>
    <h2 id="page-heading">
        <span jhiTranslate="apicockpitApp.apiProject.home.title">Api Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-api-project" [routerLink]="['/api-project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="apicockpitApp.apiProject.home.createLabel">
            Create new Api Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="apiProjects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="apicockpitApp.apiProject.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="apicockpitApp.apiProject.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="apicockpitApp.apiProject.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="apicockpitApp.apiProject.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apiKeyClientId"><span jhiTranslate="apicockpitApp.apiProject.apiKey">Api Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ownerName"><span jhiTranslate="apicockpitApp.apiProject.owner">Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apiProject of apiProjects ;trackBy: trackId">
                <td><a [routerLink]="['/api-project', apiProject.id, 'view' ]">{{apiProject.id}}</a></td>
                <td>{{apiProject.name}}</td>
                <td>{{apiProject.description}}</td>
                <td>{{apiProject.active}}</td>
                <td>{{apiProject.dateCreated | date:'medium'}}</td>
                <td>
                    <div *ngIf="apiProject.apiKeyId">
                        <a [routerLink]="['../api-project-auth-config', apiProject.apiKeyId , 'view' ]" >{{apiProject.apiKeyClientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="apiProject.ownerId">
                        <a [routerLink]="['../api-consumer-profile', apiProject.ownerId , 'view' ]" >{{apiProject.ownerName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/api-project', apiProject.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/api-project', apiProject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'api-project/'+ apiProject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="apiProjects && apiProjects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
