<div>
    <h2 id="page-heading">
        <span jhiTranslate="apicockpitApp.grovyProcConfig.home.title">Grovy Proc Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grovy-proc-config" [routerLink]="['/grovy-proc-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="apicockpitApp.grovyProcConfig.home.createLabel">
            Create new Grovy Proc Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="grovyProcConfigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.name">Name</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.description">Description</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.active">Active</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.dateCreated">Date Created</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.pScript">P Script</span></th>
            <th><span jhiTranslate="apicockpitApp.grovyProcConfig.config">Config</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grovyProcConfig of grovyProcConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/grovy-proc-config', grovyProcConfig.id, 'view' ]">{{grovyProcConfig.id}}</a></td>
                <td>{{grovyProcConfig.name}}</td>
                <td>{{grovyProcConfig.description}}</td>
                <td>{{grovyProcConfig.active}}</td>
                <td>{{grovyProcConfig.dateCreated | date:'medium'}}</td>
                <td>{{grovyProcConfig.pScript}}</td>
                <td>
                    <div *ngIf="grovyProcConfig.configId">
                        <a [routerLink]="['../api-svc-proc-config', grovyProcConfig.configId , 'view' ]" >{{grovyProcConfig.configName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/grovy-proc-config', grovyProcConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grovy-proc-config', grovyProcConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grovy-proc-config/'+ grovyProcConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
