/* ==========================================================================
Navbar
========================================================================== */

#login,
#logout {
    cursor: pointer;
}

.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    * {
        color: #66615b !important;
    }

    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding: 0.2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item {
        color: #fff;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #353d47;
        color: #fff;
        border-radius: 0;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */

.search-field {
    color: #66615b;
    background-color: rgba(222, 222, 222, 0.3);
    border: none;
}

.jh-navbar-alt {
    background-color: #fff;
}
