<footer class="footer footer-black  footer-white">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="https://openbanking.ng/" target="_blank">Open Banking Nigeria</a>
                    </li>
                    <li>
                        <a href="https://openbanking.ng/blog/" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="https://openbanking.ng/license" target="_blank">Licenses</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                  &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>2018, made with <i class="fa fa-heart heart"></i> in
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" height="14px" id="nigerian-logo" version="1.1"
                       viewBox="0 0 23 14" width="23px" xmlns="http://www.w3.org/2000/svg"><g fill="none"
                                                                                              fill-rule="evenodd"
                                                                                              id="Landing-Page"
                                                                                              stroke="none"
                                                                                              stroke-width="1"><g
                      id="Footer" transform="translate(-230.000000, -5881.000000)"><g
                      transform="translate(20.000000, 5701.000000)"><g id="Nav"
                                                                       transform="translate(210.000000, 80.000000)"><g
                      id="Made-in-Nigeria" transform="translate(0.000000, 96.000000)"><g id="Flag"
                                                                                         transform="translate(0.000000, 4.000000)"><rect
                      fill="#30AE13" height="14" id="Rectangle" width="22.4" x="0" y="0"></rect><rect fill="#FFFFFF"
                                                                                                      height="14"
                                                                                                      id="Rectangle"
                                                                                                      width="8.4" x="7"
                                                                                                      y="0"></rect></g></g></g></g></g></g></svg>
              </span>
            </div>
        </div>
    </div>
</footer>
